<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="board/layout/basic">
	<th:block layout:fragment="title">
		<title>this is view page</title>
	</th:block>

	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal form-view" th:object="${board}">
				<div class="form-group">
					<label for="inp-type-1" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{title}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-2" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{writeName}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
<!--						<p class="form-control" th:utext="${#strings.replace(board.contents,nlString,'&lt;br/&gt;')}"></p>-->
						<p class="form-control" th:text="*{contents}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
					<div class="col-sm-10">
<!--						<p class="form-control" th:text="*{#temporals.format( writeDate, 'yyyy-MM-dd HH:mm:ss' )}"></p>-->
						<p class="form-control" th:text="2023-07-12"></p>
					</div>
				</div>
				 
				<div th:if = "${board.modifyDate != null}" class="form-group" >
					<label for="inp-type-5" class="col-sm-2 control-label">수정일</label>
					<div class="col-sm-10">
<!--						<p class="form-control" th:text="*{#temporals.format(modifyDate, 'yyyy-MM-dd HH:mm:ss' )}"></p>-->
						<p class="form-control" th:text="2023-07-12"></p>
					</div>
				</div>

				
			</form>

			<div class="btn_wrap text-center">
				<a th:href="@{/boards}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
				<a th:href="@{modifyForm(num=${board.num})}" class="btn btn-primary waves-effect waves-light">수정하기</a>
<!--				<a th:href="@{/boards/{num}(num = ${board.num})}" class="btn btn-primary waves-effect waves-light">수정하기</a>-->
				<button type="button" class="btn btn-danger waves-effect waves-light" th:onclick="del()">삭제하기</button>
			</div>
		</div>
		<!-- /.card-content -->
	</th:block>

	

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function del() {
				if (confirm("정말로 삭제 하시겠습니까?")) {
					var num = /*[[${board.num}]]*/
					location.href ="delete?num="+num
				}
			}
			/*[- end of function -]*/

			/*]]>*/
		</script>
	</th:block>
</html>